
// color cube
$shark: #2a2f33;
$shocking:#e280b1;
$fedora: #6b6a6b;
$hovelock: #427ed5;
$tuscany: #bd6e29;
$torquoise: #29f1f3;
$regent: #a2bfe3; 
$tamarillo:#940e19;
$confetti:#e6ca5c;

// Median cut 
$melanie: #e6c3d3;
$americano: #89746c;
$purple: #8778b6; 
$cascade: #97acae;

// Matirial design
$vibrant: #d0a890; 
$muted:#a0a5a5;
$umber: #882236;
$nevada: #64686c;
